.ratings i {
    color: green;
}

.install span {
    font-size: 12px;
}

.col-md-4 {
    margin-top: 27px !important;
}

.icon-proyecto{
    margin-right: 2rem;
}

.proyecto-perfil{
    display: flex;
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
    .proyecto-perfil{
        display: block !important;
    }
}
